<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :itemName %>
  </div>

  <div class="field">
    <%= form.label :itemNumber %>
    <%= form.number_field :itemLocation %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :itemBrand %>
  </div>

  <div class="field">
    <%= form.label :listingTitle %>
    <%= form.text_field :itemDesc %>
  </div>

  <div class="field">
    <%= form.label :buyDate %>
    <%= form.text_field :buyDate %>
  </div>

  <div class="field">
    <%= form.label :listDate %>
    <%= form.text_field :listDate %>
  </div>

  <div class="field">
    <%= form.label :COG %>
    <%= form.text_field :COG %>
  </div>

  <div class="field">
    <%= form.label :estSellPrice %>
    <%= form.text_field :sellPrice %>
  </div>

  <div class="field">
    <%= form.label :estShipCharge %>
    <%= form.text_field :estShipCharge %>
  </div>

  <div class="field">
    <%= form.label :estShipCost %>
    <%= form.text_field :estShipCost %>
  </div>

  <div class="field">
    <%= form.label :estSalesTax %>
    <%= form.text_field :estSalesTax %>
  </div>

  <div class="field">
    <%= form.label :totalForFees %>
    <%= form.text_field :totalForFees %>
  </div>

  <div class="field">
    <%= form.label :totalFees %>
    <%= form.text_field :sellFees %>
  </div>

  <div class="field">
    <%= form.label :estProfit %>
    <%= form.text_field :estProfit %>
  </div>

  <div class="field">
    <%= form.label :sellDate %>
    <%= form.text_field :sellDate %>
  </div>

  <div class="field">
    <%= form.label :soldPrice %>
    <%= form.text_field :soldPrice %>
  </div>

  <div class="field">
    <%= form.label :shipCharge %>
    <%= form.text_field :shipCharge %>
  </div>

  <div class="field">
    <%= form.label :shipCost %>
    <%= form.text_field :shipCost %>
  </div>

  <div class="field">
    <%= form.label :finalFees %>
    <%= form.text_field :finalFees %>
  </div>

  <div class="field">
    <%= form.label :profit %>
    <%= form.text_field :profit %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
