<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.itemName %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.itemBrand %>
</p>

<p>
  <strong>Number:</strong>
  <%= @item.itemLocation %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.itemDesc %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
